.full-page-search-below-search-info-outlet.custom-category-search-filters {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1.5em;
  margin-top: 1.5em;
}

.custom-category-search-filter {
  box-sizing: border-box;
  background: var(--primary-very-low);
  border: 1px solid var(--primary-low);
  padding: 1.25em;
  border-radius: 1em;
  color: var(--primary-high);
  cursor: pointer;

  &__image {
    margin-bottom: 1em;
    width: 5em;
    height: 5em;
    object-fit: cover;
    border-radius: 1em;
    background: var(--primary-low);
  }

  &__name {
    font-weight: bold;
    margin-bottom: 0.15em;
  }

  &__count {
    color: var(--primary-medium);
    font-size: var(--font-down-1);
  }
}
