{{#each this.site.categories as |c|}}
  {{#if (gt c.topic_count 0)}}
    <div
      class="custom-category-search-filter"
      {{on "click" (action "filterSearch" c.slug)}}
    >
      {{#if c.uploaded_logo}}
        <img
          class="custom-category-search-filter__image"
          src={{c.uploaded_logo}}
        />
      {{/if}}

      <div class="custom-category-search-filter__name">
        {{c.name}}
      </div>

      <div class="custom-category-search-filter__count">
        {{c.topic_count}}
        topics
      </div>
    </div>
  {{/if}}
{{/each}}